:root {
  --pgr-red: #e93030;
}

.form-title {
  font-size: 20pt;
  font-weight: bold;
  color: var(--pgr-red);
}

.form-container {
  margin: auto;
  padding: 0 40px;
  max-width: 512px;
}

.centered {
  text-align: center;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ant-btn {
  margin-right: 8px;
}
