:root {
  --pgr-red: #e93030;
}

.home-settings {
  position: absolute;
  top: 18px;
  right: 18px;
}

.form-title {
  font-size: 32;
  font-weight: bold;
  color: var(--pgr-red)
}

.form-container {
  margin: auto;
  padding: 0 40px;
  max-width: 512px;
}

.centered {
  text-align: center;
}

.ant-btn {
  margin-right: 8px;
}